<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="entrypoint" value="while ($true) { Write-Host &quot;Running&quot; Sleep -Seconds 1 }" />
    <add key="shutdown" value="Write-Host &quot;Stopping&quot;" />
  </appSettings>
</configuration>